<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm"
     [class.mat-selected-title]="selectedRows.length && selectable">
 <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
<!--   <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="mat-title">ighestates Logs</span>-->
<!--   <span *ngIf="selectedRows.length && selectable" class="mat-body-1">{{selectedRows.length}} item(s) selected</span>-->
 </span>
  <mat-toolbar>
    <p>Incident Report</p>
    <span class="spacer"></span>
       <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Filter"
                 (searchDebounce)="filter($event)" flex>
       </td-search-box>
       <button mat-raised-button color="accent">Report</button>
  </mat-toolbar>
</div>
<mat-divider></mat-divider>
<td-data-table #dataTable [data]="filteredData" [columns]="columns" [selectable]="selectable" [clickable]="clickable"
               [multiple]="multiple" [sortable]="true" [sortBy]="sortBy" [resizableColumns]="resizableColumns"
               [(ngModel)]="selectedRows" [sortOrder]="sortOrder" (sortChange)="sort($event)"
               [style.height.px]="500" class ='background_color'>
</td-data-table>
<td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
  <span hide-xs>Rows:</span>
  <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
    <mat-option *ngFor="let size of [50,100,200,500]" [value]="size">
      {{size}}
    </mat-option>
  </mat-select>
<!--  {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>-->
</td-paging-bar>
